{% extends 'base.html' %}

{% block title %}{% endblock title %}
{% load static %}
{% block content %}
<section class="about-section">
    <div class="about-image-container">
        <img src="{% static 'img/headshot.jpg' %}" alt="Logo" />
    </div>
    <div class="about-description-container center-column">
        <h1>Professional Background</h1>
        <h2>Kory Plotts</h2>
        <p>
            Kory Plotts, a resident of Oceanside, CA, embodies a multidimensional
            professional journey characterized by technical expertise, military
            leadership, and compliance training. From his ventures in landscaping
            entrepreneurship to his role as a Rides Maintenance Trainer at
            Legoland California Compliance, Kory demonstrates a dynamic skill set
            and a commitment to excellence. Graduating from a full stack developer
            boot camp at San Diego Global Knowledge University, Kory is primed to
            apply his newfound technical prowess to drive innovation and
            organizational success.
        </p>
        <br />
        <br />
        <h2>A Tech-Savvy Professional</h2>
        <p>
            Residing in Oceanside, CA, Kory Plotts emerges as a technologically
            adept individual with a rich tapestry of experiences. His journey
            unfolds through various roles, including serving as a Foreman in the
            United States Marine Corps and founding Devil Dog, a landscaping
            enterprise. In each capacity, Kory showcases a dedication to
            continuous improvement and a proactive approach to problem-solving.
            Notably, his tenure as a Generator Technician at Leedy Electric West
            Field Service underscores his ability to blend technical acumen with
            innovative web-based solutions, thereby optimizing operations and
            enhancing customer satisfaction. Kory's recent achievement of
            graduating from a Full Stack Developer boot camp at San Diego Global
            Knowledge University reflects his commitment to mastering contemporary
            technologies. Positioned to embrace new challenges, Kory is poised to
            contribute meaningfully to projects that drive technological
            innovation and organizational growth.
        </p>
        <br />
        <br />
        <h2>Current Job Title</h2>
        <p>
            In my current role as a Sales Representative at Engage Stack LLC,
            specializing in the sale of Nvidia hardware, software, and cloud
            hosting services within the AI Tech field, I am entrusted with driving
            business growth and fostering strategic partnerships. Leveraging a
            deep understanding of cutting-edge technologies and their practical
            applications, I engage with clients to identify their unique needs and
            tailor comprehensive solutions that align with their objectives. By
            effectively communicating the value proposition of Nvidia's offerings
            and the transformative potential of AI technologies, I cultivate
            lasting relationships built on trust and mutual success. With a focus
            on delivering unparalleled customer service and staying abreast of
            industry trends, I am committed to driving revenue growth and
            positioning Engage Stack LLC as a trusted leader in the rapidly
            evolving AI Tech landscape.
        </p>
        <div class="label-container center-column">
            <h1>My skills that pay the bills</h1>
            <div class="label-list">
                <label class="label-text">Sales</label>
                <label class="label-text">Design</label>
                <label class="label-text">Soft Skills</label>
                <label class="label-text">Work Ethic</label>
                <label class="label-text">Leader</label>
                <label class="label-text">Lean Six Sigma</label>
                <label class="label-text">Team-work</label>
                <label class="label-text">HTML</label>
                <label class="label-text">Time-Management</label>
            </div>
        </div>
    </div>
</section>

<section class="projects-section center-column">
    <h2>Projects</h2>
    <div class="projects-list">
        <div class="project-card">
            <a href="https://github.com" target="_blank">
                <img src="{% static 'img/bizpro.jpg' %}" alt="" />
                <p>First Project Name</p>
                <p>This describes my proj</p>
                <p>YYYY</p>
                <div class="skills-list center-row">
                    <label class="label-text">Skill</label>
                    <label class="label-text">Skill</label>
                    <label class="label-text">Skill</label>
                    <label class="label-text">Skill</label>
                </div>
            </a>
        </div>
        <div class="project-card">
            <a href="https://github.com" target="_blank">
                <img src="{% static 'img/bizpro.jpg' %}" alt="" />
                <p>First Project Name</p>
                <p>This describes my proj</p>
                <p>YYYY</p>
                <div class="skills-list center-row">
                    <label class="label-text">Skill</label>
                    <label class="label-text">Skill</label>
                    <label class="label-text">Skill</label>
                    <label class="label-text">Skill</label>
                </div>
            </a>
        </div>
        <div class="project-card">
            <a href="https://github.com" target="_blank">
                <img src="{% static 'img/bizpro.jpg' %}" alt="" />
                <p>First Project Name</p>
                <p>This describes my proj</p>
                <p>YYYY</p>
                <div class="skills-list center-row">
                    <label class="label-text">Skill</label>
                    <label class="label-text">Skill</label>
                    <label class="label-text">Skill</label>
                    <label class="label-text">Skill</label>
                </div>
            </a>
        </div>
        <div class="project-card">
            <a href="https://github.com" target="_blank">
                <img src="{% static 'img/bizpro.jpg' %}" alt="" />
                <p>First Project Name</p>
                <p>This describes my proj</p>
                <p>YYYY</p>
                <div class="skills-list center-row">
                    <label class="label-text">Skill</label>
                    <label class="label-text">Skill</label>
                    <label class="label-text">Skill</label>
                    <label class="label-text">Skill</label>
                </div>
            </a>
        </div>
    </div>
</section>


{% endblock content %}